body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

.header {
    height: 69px;
    width: 100%;
    top: 0;
    border-bottom: 1px solid seashell;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    z-index: 1;
}

.header img {
    height: 50px;
    margin: 10px;
}

.header nav {
    display: inline-flex;
    flex-basis: 400px;
    justify-content: space-around;
}

.header nav a {
    flex-shrink: 1;
    text-decoration: underline;
    color: seashell;
}

main {
    margin: 0 auto;
    max-width: 1200px;
}

#mission {
    background-image: url("../images/img-mission-background.jpg");
    display: flex;
    flex-basis: 1200px;
    height: 700px;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
}

.mission-container {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
    align-items: stretch;
}

.mission-container h2 {
    flex-shrink: 1;
    margin: auto;
    margin-bottom: 20px;
}

.mission-container h4 {
    margin: auto;
}

#featured-tea {
    margin: 50px auto;
    max-width: 1000px;
}

#featured-tea h4 {
    margin-bottom: 10px;
}

.gallery {
    display: flex;
    flex-basis: 1000px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0;
}

.gallery figure {
    max-width: 250px;
}

.gallery img {
    width: 100%;
}

#locations {
    background-image: url("../images/img-locations-background.jpg");
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#locations h2 {
    margin-bottom: 15px;
}

.location-container {
    display: flex;
    justify-content: center;
}

.location-container div {
    margin: 15px 40px;
    width: 300px;
    background-color: black;
    flex-shrink: 1;
}

.location-container div p {
    margin: 40px 0;
}

footer section {
    height: 200px;
}

footer h4 {
    text-align: left;
}